{% macro render_field(field) %}
  <div class="form-group {% if 'add_book' in request.path %}d-flex justify-content-between{% endif %}">
    <label for="{{ field.name }}" class="control-label {% if 'add_book' in request.path %}col-md-4{% endif %}">
      {{ field.label.text.capitalize() }}
    </label>
    <div class="{% if 'add_book' in request.path %}col-md-8{% endif %}">
      {{ field(class_='form-control', **kwargs)|safe }}
    </div>
  </div>
  <ul> 
    {% for error in field.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
  </ul>
{% endmacro %}